.Comment {
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
}

.Comment > * {
    margin: 0;
    padding: 10px;
}

.username-Comment:hover {
    text-decoration: underline;
}

.title-Comment {
    order: 2;

    width: 100%;
    margin: 0px;
    margin-top: 20px;
    font-size: 30px;
    overflow-wrap: break-word;

    text-shadow: 0px 1px 1px rgba(8,7,16,0.6);
}


.userInfo-Comment {
    order: 1;

    display: flex;
    align-items: center;

    width: 100%;
}




.username-Comment {
    order: 2;

    margin: 0;
    margin-left: 5px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(104, 7, 7);
    text-shadow: 0px 1px 1px rgba(8,7,16,0.6);
}

.profilePic-Comment {
    order: 1;

    height: 65px;
    border: 2px;
    border-radius: 50%;
    border-color: #013434;
    border-style: solid;
}

.content-Comment {
    color: black;
}

.footer-Comment {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer-Comment > p {
    flex-grow: 1;
    margin: 0;
    padding : 10px;
    padding-left: 0;
}

.footer-Comment > button {
    color: #094b4b;
    letter-spacing: 0.5px;
    outline: none;

    text-align: center;
    width: 250px;
    height: 50px;
    border: 2px solid;
    background-color: #D3E9E5;
    padding: 15px 0;
    margin: 10px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;

    box-shadow: 0 0 0px transparent;
    transition: all 0.2s ease;
}

.footer-Comment > button:hover {
    color: #fbfcf8;
    background-color: rgb(104, 7, 7);
    border-color: rgb(104, 7, 7);
}