#feedType {
    display: flex;
    flex-direction: row;
    height: 50px;
}

#feedType > button {
    font-weight: bold;
    color: #008080;
    letter-spacing: 0.5px;

    background-color: #fbfcf8;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 24px;
    text-align: center;
    border: 0;
    border-bottom: 1px solid;

    text-shadow: 0 1px 1px rgba(8,7,16,0.6);
    transition: background-color 0.2s ease-out;
}

#feedType > button:hover {
    background-color: #dfe1d8;
}

#feedType > button.forumSelected {
    color: #fbfcf8;
    background-color: #008080;
    border-color: #008080;
}

#feedType > button.forumSelected:hover {
    background-color: #016969;
}

#conteneurMessageForum {
    max-height: calc(100% - 122px);
    overflow-y: auto;
}

#conteneurMessageProfile {
    max-height: calc(100% - 323px);
    overflow-y: auto;
}