#header-Home {
    display: flex;
    flex-direction: row;
    justify-content: center;

    height: 70px;
    padding: 0px 50px; 
    border-bottom: solid;
    background-color: #6c6c6c0e;
}

#logo-left, #logo-right {
    margin-left: 10px;
    margin-right: 10px;
    height: 90%;
}

#logo-right {
    transform: scaleX(-1);
}

#titleWebsite {
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
}

#content-Home {
    display: flex;
    flex-direction: row;

    height: 100vh;
}

.CentralBanner {
    order: 2;
    flex-grow: 1;
    border-left: solid;
    width: calc(100vw - 200px);
}