.Message {
    display: flex;
    flex-direction: column;

    height: auto;
    width: 100%;
    border-bottom: 1px solid;

    transition: background-color 0.2s ease-out;
}

.Message:hover {
    background-color: #dfe1d8;
}

.Message > * {
    margin: 0;
    padding: 10px;
}




.header-Message {
    display: flex;
    flex-direction: column;
    

    min-height: 50px;
}

.title-Message {
    order: 2;

    width: 100%;
    margin: 0px;
    margin-top: 20px;
    font-size: 30px;
    overflow-wrap: break-word;

    text-shadow: 0px 1px 1px rgba(8,7,16,0.6);
}


.userInfo-Message {
    order: 1;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
}




.username-Message {
    order: 2;

    margin: 0;
    margin-left: 5px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(104, 7, 7);
    text-shadow: 0px 1px 1px rgba(8,7,16,0.6);
}

.profilePic-Message {
    order: 1;

    height: 65px;
    border: 2px;
    border-radius: 50%;
    border-color: #013434;
    border-style: solid;
}



.content-Message {
    color: black;
}